{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="container py-5">
  <div class="card bg-light mb-3" style="max-width: 70rem;">
    <div class="card-header">Технологии, использованные в проекте</div>
      <div class="card-body">
        <div class="row">
          <aside class="col- 9 col-md-3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Python
              </li>
              <li class="list-group-item">
                Django
              </li>
              <li class="list-group-item">
                Bootstrap
              </li>
            </ul>
          </aside>
          <article class="col-9 col-md-6">
            <p class="card-text">Этот проект был создан в рамках обучения по программе Python-разработчик
              в Яндекс.Практикуме. Здесь перечислены основные технологии, котрые использовались для создания 
              проекта социальной сети для блоггеров. </p>
          </article>
          <p>

          </p>
        </div>
      </div>
  </div>
</div>
{% endblock %}
