{% extends 'base.html' %}
{% block title %}
  Профайл пользователя {{ author }}
{% endblock %}

{% block content %}
<div class="container py-5">
  <h2>Все посты пользователя {{ author }}</h2>
    <h4>Всего постов: {{ author.posts.count }}</h4>
    {% if following %}
      <p>
        <a
        class="btn btn-light"
        href="{% url 'posts:profile_unfollow' author.username %}" role="button"
      >
        Отписаться
      </a>
    {% elif request.user.username != author.username %}
      <a
        class="btn btn-primary"
        href="{% url 'posts:profile_follow' author.username %}" role="button"
      >
        Подписаться
      </a>
      </p>
    {% endif %}
      <article>
        {% for post in page_obj %}
          {% include 'posts/includes/post_forloop.html' with show_post=True show_group=True %}
        {% endfor %}
      </article>
    {% include 'posts/includes/paginator.html' %}
  </div>
{% endblock %} 